<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link href = "https://nxcache.nexon.net/cms/2020/q3/2359/maplestory_bluesnail.png?width=240px&height=235px" 
    rel = "icon" type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  
  <body>
    <h1>Login</h1>
    <p>Sign up or sign in to continue</p>
    <div>
      Username: <input type="text" name="username" placeholder="username" id="username"><br>
      Password: <input type="password" name="password" placeholder="password" id="password">
      <button id="buttom_login" onclick="handClick()">Login</button>
      
    </div>
    <!-- Information login: <b>{{info}}</b> -->
    
    <script src="/html/src.js"></script>
</body>
</html>
